/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
/*body {font: 13px Helmet, Freesans, sans-serif;}*/

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

a {color: #1e5166;}
a:hover {color: #1e5166;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #1e5166; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #1e5166;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/* Normal Layout Styling
-------------------------------------------------------------------------------*/

body {
	background: url(debut_light.png);
}

div.wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div.home {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Nav/Header
----------------------------------------*/
header.page-header {
	padding: 0px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 140px;
	text-align: center;
	float:left;
	display: table;

}

.header-wrapper {
	width: 33%;
	height: 100%;
	float: left;
	display: table-cell;
}
.header-decoration {
	width: 33%;
	height: 85px;
	border-bottom: 1px solid #e2e2e2;
	float: left;
	display: table-cell;
}


header.page-header h1 {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 0px;
	margin: 0px;
}

nav {
	float: left;
	position: relative;
	left: -50%;
}

.nav-wrapper {
	float: left;
	position: relative;
	left: 50%;
}

nav * {
	display: block;
}


nav li {
	float: left;
	margin: 0px 1px;
	font-size: 16px;
}

nav li a {
	text-transform:lowercase;
	text-decoration: none;
	color: #555;
}
/*
nav li.seperator {
	text-transform:lowercase;
	text-decoration: none;
	color: #aaa;
	visibility: hidden;
	height: 0px;
	width: 0px;
}*/

nav li~li a::after {
	content: "/";
	float: left;
	margin-right: 1px;
	color: #aaa;
}

/*nav li.seperator~li {
	visibility: visible;
	height: auto;
	width: auto;
}*/

/* Titles
----------------------------------------*/
article {
	clear: both;
}
article h1 {
	margin-bottom: 5px;
	padding: 0px;
}

h1, h2 {font: 26px "Crimson Text"; color: #cf1515}

h2 {
	font-size: 20px;
}

h1 a {color: #cf1515; text-decoration: none;}

/* Text
----------------------------------------*/
body, select, input, textarea {color: #333;}
body {
	font-size: 20px;
	font-family: 'Crimson Text', serif;
}

.page {
	clear: both;
	background-color: rgba(255,255,255,0.6);;	
	padding: 2em;
	padding-left: 3.2em;
	padding-right: 3.2em;
	border: 1px;
	border-style: solid;
	border-color: #e2e2e2;
	/*-webkit-box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 150px 0px rgba(0,0,0,0.1);*/
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.75em;
	/*text-align: justify;*/
}

code, pre {
	font-size: 16px;
}

pre {
	border: 1px solid #e2e2e2;
	background: url(debut_light_@2X.png)!important;
}

/* Index Page
----------------------------------------*/

#index-page {

	padding: 0px;
   	display: -webkit-flex;
   	display: flex;
   	-webkit-flex-flow: row;
   	flex-flow: row;
}

#sidebar {
	max-width: 100%;
	flex-grow: 1;
	padding-right: 0.5em;
	margin-top: 0.75em;
}

#bio {
	flex-grow: 2;
	padding-left: 0.5em;
}

	#bio li {
		display: block;
		margin-right: 0.5em;	
	}

	.socials li {
		float: left;
	}
	
	#bio ul * {
		text-decoration: none;
	}

/* Footer
----------------------------------------*/
footer {
	color: #aaa;
	padding: 10px;
	font-size: 16px;
}

/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 780px) {
	.page {
		margin: 0px;	
	}
	
	div.wrapper {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	* {font-size: 90%;}	
		
}

@media screen and (max-width: 700px) {
	.page {
		padding: 1em;
		border-left: 0px;
		border-right: 0px;
	}

	.header-wrapper {
		width: 100%;
		height: 100%;
		float: left;
		display: table-cell;
	}

	.header-decoration {
		width: 0%;
		height: 85px;
		border-bottom: 0px solid #e2e2e2;
		float: left;
		display: table-cell;
	}
	
	#index-page {

		flex-flow: column;
	}
	
	#bio, sidebar {
		padding: 0px;	
	}
	
}

@media screen and (min-width: 780px) {
	
}


/* Print styles
-------------------------------------------------------------------------------*/
@media print {

	header, header * {
		display: block;
		visibility:hidden;
		width: 0px;
		height: 0px;
	}

	body {
		background: url() #fff;
	}
	
	.page {
		border: none;
	}		
	
	body, select, input, textarea {color: #000!important;}
	
}
